<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>flexbox</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='flexbox.css'>
    <script src='main.js'></script>
</head>
<body>
    
    <div id="container0">
        <div id="a" class="box">a0</div>
        <div id="b" class="box">b</div>
        <div id="c" class="box">c</div>
        <div id="d" class="box">d</div>
    </div>
    <div id="container1">
        <div id="a" class="box">a1</div>
        <div id="b" class="box">b</div>
        <div id="c" class="box">c</div>
        <div id="d" class="box">d</div>
    </div>
    <div id="container2">
        <div id="a" class="box">a2</div>
        <div id="b" class="box">b</div>
        <div id="c" class="box">c</div>
        <div id="d" class="box">d</div>
    </div>
    <div id="container3">
        <div id="a" class="box">a3</div>
        <div id="b" class="box">b</div>
        <div id="c" class="box">c</div>
        <div id="d" class="box">d</div>
    </div>
</body>
</html>