<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Layouts</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='layouts.css'>
    <script src='main.js'></script>
</head>
<body>

    <h1 id="e1"> Hello pramod h1 tag</h1>
    <h1 id="e2"> Hello pramod h1 tag</h1>
    <span id="e3"> Hello pramod span1 tag</span>
    <h1 id="e4"> Hello pramod h1 tag</h1>
    <h1 id="e5"> Hello pramod h1 tag</h1>
    <span id="e6"> Hello pramod span2 tag</span>
    <span id="e7"> Hello pramod span3 tag</span>

    
</body>
</html>